body {
    font-family: 'Jost';
    margin: 0;
    width: 100vw;
}

header {
    display: flex;
    background-color: #ff7f99;
    width: 100vw;
    height: 8%;
    margin: auto;
    align-items: center;

}
h1 {
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 2.5rem;
    padding-left: 3rem;
}
.logo-you {
    color: #ffca41;
}

.menu {
    width: 100vw;
    display:inline-flex;
    justify-content: end;
    color:#FFFFFF;
    letter-spacing: 0.03em;
    font-size: 1.4rem;
}
ul{
    list-style: none;
    padding-right: 4rem;
}
li {
    list-style: none;
    padding: 0 4rem;
    display:inline-flex;
}
.contacto {
    border: 1px solid #ffca41;
    padding: 0.3rem 1.2rem;
    border-radius: 3em;
    background-color: #ffc94123;
}


.landing-central {
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 50%;
}
.main-image,
img {
    height: 32rem;
    margin: 2rem;
}
.call-to {
    margin-top: 7rem;
    padding-left: 6rem;
    text-align: left;
}
h2{
    font-weight: bolder;
    font-size: 5rem;
    line-height: 3.7rem;
    letter-spacing: 0.01em;
    margin-bottom: 2.2rem;
    color:#ff7f99;
}
h3{
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: -0.02em;
    margin-bottom: 3rem;
}
button {
    background: #FFCA41;
    color: #FFFFFF;
    border-radius: 3em;
    border-color: #FFCA41;
    border-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 1em 2em;
}


section {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    background-color: #ff7f99;
    margin: 3rem 0 0 0;
}
.profile {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 8rem;
}
.profile-img {
    margin: auto;
    padding: 0em 0em;
    display: block;
    height: 15rem;
    width: 15rem;
}
h4 {
    color:#FFFFFF;
    margin-top: 0.5em;
    margin-bottom: 0;
    padding: 0em 0em;
    font-weight: 500;
    font-size: 1.5rem;
}
h5 {
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    padding: 0em 0em;
    font-weight: 400;
    font-size: 1rem;
}
.linkedin {
    margin: auto;
    display: block;
    height: 2.5rem;
}